/*Start Global Rules*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #10221b;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediam Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Start Components */
.special-heading {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}

button {
  border: 1px solid #10221b;
  background-color: transparent;
  padding: 0.7rem 1.6rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #10221b;
  color: #fff;
}

.price {
  font-size: 0.9rem;
  color: #219150;
  margin: 0.1rem 0;
}

.fa-chevron-right, .fa-chevron-left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1000;
  font-size: 30px;
  color: #2196f3;
  cursor: pointer;
  width: 20px;
}

.fa-chevron-right, .fa-chevron-left {
  right: 10px;
}

.fa-chevron-left {
  left: 10px;
}

@media (max-width: 767px) {
  .home .fa-solid {
    display: none;
  }
}

/* End Components */
/*End Global Rules*/
/*Start Header*/
.search-land {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #10221bba;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 99999;
}
.search-land.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.search-land .cont {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-land .container .search-content {
  width: 500px;
  max-width: 100%;
  margin: auto;
  position: relative;
}
@media (max-width: 767px) {
  .search-land .container .search-content {
    width: 350px;
  }
}
.search-land .container .search-content input {
  width: 100%;
  height: 30px;
  padding: 1.5rem 1rem 1.5rem 0;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
}
.search-land .container .search-content input::-webkit-input-placeholder {
  font-weight: 300;
  color: #ffffff87;
}
.search-land .container .search-content input::-moz-placeholder {
  font-weight: 300;
  color: #ffffff87;
}
.search-land .container .search-content input:-ms-input-placeholder {
  font-weight: 300;
  color: #ffffff87;
}
.search-land .container .search-content input::-ms-input-placeholder {
  font-weight: 300;
  color: #ffffff87;
}
.search-land .container .search-content input::placeholder {
  font-weight: 300;
  color: #ffffff87;
}
.search-land .container .search-content label {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 25px;
  color: #fff;
}
.search-land .container .search-content .delete {
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.search-land .container .search-content .delete.active {
  display: block;
}
.search-land .container .close {
  position: absolute;
  right: 50px;
  top: 15px;
  font-size: 3.4rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.search-land .container .close:hover {
  color: #219150;
  -webkit-animation: rotate 0.3s linear;
          animation: rotate 0.3s linear;
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media (max-width: 767px) {
  .search-land .container .close {
    right: 20px;
  }
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
nav .container {
  position: relative;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .container .logo {
  font-size: 20px;
  font-weight: 500;
}
nav .container .logo i {
  color: #219150;
}
nav .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767px) {
  nav .container .links {
    display: block;
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .container .links li:first-child {
    margin-top: 4rem;
  }
  nav .container .links.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
nav .container .links i {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  display: none;
}
@media (max-width: 767px) {
  nav .container .links i {
    display: block;
  }
}
nav .container .links li a {
  display: block;
  font-size: 0.9rem;
  padding: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .container .links li a:hover {
  color: #219150;
}
@media (max-width: 767px) {
  nav .container .links li a {
    padding: 1rem 1.3rem;
  }
}
nav .container .icon i {
  padding: 0.3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.2rem;
}
nav .container .icon i:hover {
  color: #219150;
}
@media (max-width: 767px) {
  nav .container .icon {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
nav .container .fa-bars {
  display: none;
}
@media (max-width: 767px) {
  nav .container .fa-bars {
    display: block;
    margin-left: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
  }
}

/*End Header*/
/*Start Home*/
.home .home-content {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-position: center;
  padding: 2rem 9%;
}
@media (max-width: 767px) {
  .home .home-content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: right;
  }
  .home .home-content.left {
    background-position: left;
  }
}
.home .home-content .text {
  width: 400px;
  max-width: 100%;
}
.home .home-content .text h2 {
  font-size: 2rem;
  font-weight: 400;
}
.home .home-content .text h2 span {
  display: block;
  color: #219150;
  margin-top: 10px;
  font-size: 2.8rem;
  font-weight: 900;
  text-transform: uppercase;
}
.home .home-content .text p {
  font-size: 0.9rem;
  margin: 10px 0;
  line-height: 1.8;
}
.home .left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 767px) {
  .home .left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*End Home*/
/*Start Info*/
.info {
  padding-top: 5rem;
  text-align: center;
}
.info h3 {
  font-size: 1.8rem;
}
.info .info-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
@media (max-width: 767px) {
  .info .info-content {
    gap: 3rem;
  }
}
.info .info-content img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.info .info-content .text h4 {
  color: #219150;
  margin-top: 0.5rem;
}
.info .info-content .text p {
  font-size: 0.9rem;
  margin: 1rem 0;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .info .info-content .text p {
    font-size: 0.7rem;
  }
}

/*End Info*/
/*Start About */
.about {
  padding: 2rem 0;
  background-color: #eee;
}
.about .container .about-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .about .container .about-content {
    gap: 3rem;
  }
}
@media (max-width: 767px) {
  .about .container .about-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
.about .container .about-content .image {
  text-align: center;
}
.about .container .about-content .image img {
  width: 70%;
  -webkit-box-shadow: 25px 25px 0 0 #ddd;
          box-shadow: 25px 25px 0 0 #ddd;
}
@media (max-width: 767px) {
  .about .container .about-content .image img {
    width: 95%;
  }
}
.about .container .about-content .text h3 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #219150;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .about .container .about-content .text h3 {
    font-size: 1.1rem;
  }
}
.about .container .about-content .text p {
  font-size: 0.9rem;
  line-height: 1.8;
  margin: 0.8rem 0;
}

/*End About */
/*Start Shop*/
.shop {
  padding-top: 5rem;
}
.shop .product {
  padding-top: 3rem;
}
.shop .product .box {
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}
.shop .fa-solid {
  color: #10221b;
}

/*End Shop */
/*Start Packages */
.package {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  margin-top: 5rem;
  background-color: #eee;
}
.package .package-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding-top: 2rem;
  text-align: center;
  gap: 1rem;
}
.package .package-content .box {
  border: 1px solid #10221b;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.package .package-content .box:hover {
  background-color: #10221b;
}
.package .package-content .box:hover .text, .package .package-content .box:hover button {
  color: white;
  border-color: #fff;
}
.package .package-content .box .image img {
  border-radius: 5px;
}
.package .package-content .box .text {
  margin-top: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.package .package-content .box .text p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
}
.package .package-content .box button {
  margin-top: 0.4rem;
}
.package .package-content .box button:hover {
  color: #10221b;
  background-color: #fff;
}

/*End Packages */
/*Start Reviews */
.reviews {
  padding-top: 5rem;
}
.reviews .reviews-content {
  padding-top: 3rem;
}
.reviews .reviews-content .box {
  cursor: pointer;
}
.reviews .reviews-content .box p {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #eee;
  line-height: 1.8;
  position: relative;
}
.reviews .reviews-content .box p::before {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 0;
  border-width: 15px;
  border-style: solid;
  border-color: #eee transparent transparent transparent;
}
.reviews .reviews-content .box .review-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.reviews .reviews-content .box .review-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/*End Reviews */
/*Start Offer */
.offer {
  margin-top: 5rem;
  padding: 2rem 0 2.5rem;
  background-color: #eee;
}
.offer .offer-content {
  padding-top: 3rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  text-align: center;
}
.offer .offer-content .box {
  padding: 1rem;
  border: 1px solid black;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer .offer-content .box:hover {
  background-color: #10221b;
}
.offer .offer-content .box .icon {
  margin-bottom: 30px;
}
.offer .offer-content .box .icon i {
  font-size: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer .offer-content .box:hover i {
  color: #fff;
}
.offer .offer-content .box .text h4 {
  color: #219150;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer .offer-content .box .text p {
  line-height: 1.8;
  margin: 10px 0;
}
.offer .offer-content .box .text button:hover {
  color: #10221b;
  background-color: #fff;
}
.offer .offer-content .box:hover p, .offer .offer-content .box:hover button {
  color: white;
  border-color: #fff;
}

/*End Offer */
/*Start Blogs */
.blogs {
  padding-top: 5rem;
}
.blogs .blogs-content {
  padding-top: 3rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  text-align: center;
}
.blogs .blogs-content .box {
  cursor: pointer;
}
.blogs .blogs-content .box .image {
  position: relative;
}
.blogs .blogs-content .box .image img {
  border-radius: 5px;
}
.blogs .blogs-content .box .image .box-info {
  position: absolute;
  bottom: -9px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 230px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #10221b;
  border-radius: 5px;
  padding: 0.5rem;
}
.blogs .blogs-content .box .image .box-info span {
  margin: 0 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.blogs .blogs-content .box .image .box-info span:hover {
  color: #219150;
}
.blogs .blogs-content .box .image .box-info span i {
  color: #219150;
  margin: 0 4px;
}
.blogs .blogs-content .box .text {
  padding-top: 1.7rem;
}
.blogs .blogs-content .box .text p {
  margin: 0.3rem 0;
  font-size: 0.8rem;
  line-height: 1.8;
}
.blogs .blogs-content .box .text button {
  margin-top: 5px;
}

/*End Blogs */
/*Start subscribe */
.subscribe {
  margin-top: 5rem;
  padding: 3rem 0;
  background-color: #eee;
}
.subscribe .subscribe-content {
  padding-top: 2rem;
  width: 500px;
  max-width: 100%;
  margin: auto;
}
.subscribe .subscribe-content p {
  font-size: 0.8rem;
  line-height: 1.8;
  margin-bottom: 20px;
}
.subscribe .subscribe-content .form-input {
  position: relative;
}
.subscribe .subscribe-content .form-input input {
  width: 100%;
  border: none;
  outline: none;
  border: 1px solid #10221b;
  padding: 1rem 0 1rem 0.7rem;
  border-radius: 50px;
  background-color: #fff;
}
.subscribe .subscribe-content .form-input input[type=submit] {
  width: 100px;
  padding: 0.6rem;
  color: #fff;
  background-color: #10221b;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.subscribe .subscribe-content .form-input input[type=submit]:hover {
  background-color: #fff;
  color: #10221b;
}

/*End subscribe */
/*Start Companys */
.company {
  padding: 2rem 0;
}
.company .company-content .image {
  width: 150px;
  margin: auto;
  cursor: pointer;
}

/*End Companys */
/*Start Footer */
.footer {
  padding: 2rem 0;
  background-image: url(../images/footer-bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.footer .footer-content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  color: #fff;
  position: relative;
}
@media (max-width: 575px) {
  .footer .footer-content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 60px;
  }
}
.footer .footer-content .col > span {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 1rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.footer .footer-content .col > span:hover {
  color: #219150;
}
.footer .footer-content .col a {
  display: inline-block;
  padding: 0.6rem 0;
  font-size: 0.9rem;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer .footer-content .col a:hover {
  color: #219150;
}
@media (max-width: 767px) {
  .footer .footer-content .col a {
    font-size: 0.8rem;
  }
}
.footer .footer-content .col i {
  padding-right: 6px;
  color: #219150;
}
.footer .copy {
  position: relative;
  padding-top: 2rem;
  text-align: center;
  color: #fff;
}
@media (max-width: 767px) {
  .footer .copy {
    padding-top: 3rem;
  }
}
.footer .copy span {
  color: #219150;
}
.footer .copy .coded {
  padding-top: 1rem;
  color: #fff;
  display: block;
}
.footer .copy .coded span {
  font-size: 1.3rem;
  font-weight: 600;
}

/*End Footer */
/*# sourceMappingURL=main.css.map */