$green: #219150;
$black: #10221b;
$white: #fff;
$light-bg: #eee;
$transparent-black: #10221bba;
$transition: 0.3s;
$padding: 5rem;
$line-height: 1.8;
/*Start Global Rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: $black;
}
img {
    max-width: 100%;
    object-fit: cover;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* mediam Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@mixin MediaQueries($media) {
  @if $media == mobile {
    @media (max-width: 575px) {
      @content;
    }
  } 
  @else if $media == small {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $media == medium {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $media == large {
    @media (max-width: 1200px) {
      @content;
    }
  }
};
@mixin flex(){
    display: flex;
    align-items: center;
}
@mixin center() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
@mixin grid($width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
}
/* Start Components */
.special-heading {
    font: {
        size: 1.8rem;
        weight: 500;
    }
    text-align: center;
}
button {
    border: 1px solid $black;
    background-color: transparent;
    padding: 0.7rem 1.6rem;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background-color: $black;
        color: $white;
    }
}
.price {
    font-size: 0.9rem;
    color: $green;
    margin: 0.1rem 0;
}
.fa-chevron-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    font-size: 30px;
    color: #2196f3;
    cursor: pointer;
    width: 20px;
    }
    .fa-chevron-right {
      right: 10px;
    }
    .fa-chevron-left {
        @extend  .fa-chevron-right ;
        left: 10px;
    }
    .home{
        .fa-solid {
            @include MediaQueries(small) {
                display: none;
            }
        }
    } 
/* End Components */
/*End Global Rules*/
/*Start Header*/
.search-land {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $transparent-black;
    transition: $transition;
    transform: translateY(-100%);
    z-index: 99999;
    &.active {
        transform: translateY(0);
    }
    .cont {
        width: 100%;
        height: 100%;
        position: relative;
        @include flex();
    }
    .container {
        .search-content {
            width: 500px;
            max-width: 100%;
            margin: auto;
            position: relative;
            @include MediaQueries(small) {
                width: 350px;
            }
            input {
                width:100%;
                height: 30px;
                padding: 1.5rem 1rem 1.5rem 0;
                border: none;
                border-bottom: 1px solid $white;
                outline: none;
                background-color: transparent;
                &::placeholder {
                    font-weight: 300;
                    color: #ffffff87;
                }
            }
            label {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                font-size: 25px;
                color: $white;
            }
            .delete {
                position: absolute;
                top: 50%;
                right: 40px;
                transform: translateY(-50%);
                cursor: pointer;
                display: none;
                &.active {
                    display: block;
                }
            }
        }
        .close {
            position: absolute;
            right: 50px;
            top: 15px;
            font: {
                size: 3.4rem;
                weight: bold;
            };
            cursor: pointer;
            transition: $transition;
            &:hover{
                color: $green;
                animation: rotate 0.3s linear;
            }
            @keyframes rotate {
                to {
                    transform: rotate(180deg);
                }
            }
            @include MediaQueries(small) {
                right: 20px;
            }
        }
    }
}
nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    & .container {
        position: relative;
         height: 70px;
        @include flex();
        .logo {
            font: {
                size: 20px;
                weight: 500;
            };
            i {
                color: $green
            }
        }
        .links {
            @include flex();
            flex: 1;
            justify-content: flex-end;
            @include MediaQueries(small) {
                display: block;
                position: fixed;
                width: 40%;
                height: 100vh;
                top: 0;
                left: 0;
                background-color: $white;
                z-index: 1000;
                transform: translateX(-100%);
                transition: $transition;
                & li:first-child {
                    margin-top: 4rem;
                }
                &.active {
                    transform: translateX(0);
                }
            }
            i {
                position: absolute;
                top: 10px;
                right: 15px;
                font-size: 30px;
                display: none;
                @include MediaQueries(small) {
                    display: block;
                }
            }
            li a {
                display: block;
                font-size: 0.9rem;
                padding: 1rem;
                transition: $transition;
                &:hover {
                    color: $green;
                }
                @include MediaQueries(small) {
                    padding: 1rem 1.3rem;
                }
            }
         
        }
        .icon {
            i {
                padding: 0.3rem;
                transition: $transition;
                cursor: pointer;
                font-size: 1.2rem;
                &:hover {
                    color: $green;
                }
            }
            @include MediaQueries(small) {
                flex: 1;
                display: flex;
                justify-content: flex-end;
            }
        }
        .fa-bars {
            display: none;
            @include MediaQueries(small) {
                display: block;
                margin-left: 1rem;
                font-size: 1.4rem;
                cursor: pointer;
            }
        }
    }
}
/*End Header*/
/*Start Home*/
.home {
    .home-content {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-size: cover;
        background-position: center;
        padding: 2rem 9%;
        @include  MediaQueries(small) {
            text-align: center;
            justify-content: center;
            background-position: right;
            &.left {
                background-position: left;
            }
        }
        .text {
            width: 400px;
            max-width: 100%;
            h2 {
                font-size: 2rem;
                font-weight: 400; 
                span {
                    display: block;
                    color: $green;
                    margin-top: 10px;
                    font-size: 2.8rem;
                    font-weight: 900;
                    text-transform: uppercase;
                }
            }
            p {
                font-size: 0.9rem;
                margin: 10px 0;
                line-height: $line-height;
            }
        }
    }
    .left {
        justify-content: flex-start;
        @include MediaQueries(small) {
            justify-content: center;
        }
    }
}
/*End Home*/
/*Start Info*/
.info {
    padding-top: $padding;
    text-align: center;
    h3 {
        font-size: 1.8rem;
    }
    .info-content {
        @include grid (15rem);
        gap: 2rem;
        margin-top: 2rem;
        padding: 2rem;
        @include MediaQueries(small) {
            gap: 3rem;
        }
        img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
        }
        .text {
            h4 {
                color: $green;
                margin-top: 0.5rem;
            }
            p {
                font-size: 0.9rem;
                margin: 1rem 0;
                line-height: $line-height;
                @include MediaQueries(small) {
                    font-size: 0.7rem;
                }
            }
        }
    }
}
/*End Info*/
/*Start About */
.about {
    padding: 2rem 0;
    background-color: $light-bg;
    .container {
        .about-content {
            @include grid((390px));
            align-items: center;
            @include MediaQueries(medium) {
                gap: 3rem;
            }
            @include MediaQueries(small) {
                @include grid((350px));
            }
           .image {
               text-align: center;
               img {
                   width: 70%;
                   box-shadow: 25px 25px 0 0 #ddd;
                   @include MediaQueries(small) {
                       width: 95%;
                   }
               }
           }
           .text {
               h3 {
                   font:  {
                       size: 1.6rem;
                       weight: 600;
                   };
                   color: $green;
                   text-transform: capitalize;
                   @include MediaQueries(small) {
                           font-size: 1.1rem;
                   }
               }
               p {
                   font-size: 0.9rem ;
                   line-height: $line-height;
                   margin: 0.8rem 0;
               }
           }
        }
    }
}
/*End About */
/*Start Shop*/
.shop {
    padding-top: $padding;

    .product {
        padding-top: 3rem;
        .box {
            border: 1px solid black;
            text-align: center;
            cursor: pointer;
        }
    }
    .fa-solid  {
        color: $black;
    }
}
/*End Shop */
/*Start Packages */
.package {
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    margin-top: $padding;
    background-color: $light-bg;
    .package-content {
        @include grid(250px);
        padding-top: 2rem;
        text-align: center;
        gap: 1rem;
        .box {
            border: 1px solid $black;
            padding: 1rem;
            cursor: pointer;
            transition: $transition;
            &:hover {
                background-color: $black;
            }
            &:hover .text, 
            &:hover button {
                color: white;
                border-color: $white;
            }
            .image {
                img {
                    border-radius: 5px;
                }
            }
            .text {
                margin-top: 1rem;
                transition: $transition;
                p {
                    margin: 0.3rem 0;
                    font-size: 0.8rem;
                }
            }
            button {
                margin-top: 0.4rem;
                &:hover {
                    color: $black;
                    background-color: $white;
                }
            }
        }
    }
}
/*End Packages */
/*Start Reviews */
.reviews {
    padding-top: $padding;
    .reviews-content {
        padding-top: 3rem;
       .box {
           cursor: pointer;
        p {
            padding: 1rem;
            font-size: 0.9rem;
            background-color: $light-bg;
            line-height: $line-height;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: -29px;
                left: 0;
                border-width: 15px;
                border-style: solid;
                border-color: $light-bg transparent transparent transparent;
            }
        }
        .review-info {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
                img {
                    width: 60px;
                     height: 60px;
                     border-radius: 50%; 
                }
    }
       }
    }
}
/*End Reviews */
/*Start Offer */
.offer {
    margin-top: $padding;
    padding: 2rem 0 2.5rem;
    background-color: $light-bg;
    .offer-content {
        padding-top: 3rem;
        @include grid(280px);
        gap: 1rem;
        text-align: center;
        .box {
            padding: 1rem;
            border: 1px solid black;
            cursor: pointer;
            transition: $transition;
            &:hover {
                background-color: $black;
            }
            .icon {
                margin-bottom: 30px;
                i {
                    font-size: 3rem;
                    transition: $transition;
                }
            }
            &:hover i {
                color: $white;
            }
            .text {
                h4 {
                    color: $green;
                    transition: $transition;
                }
                p {
                    line-height: $line-height;
                    margin: 10px 0;
                }
                button:hover {
                    color: $black;
                    background-color: $white;
                }
            }
            &:hover p, 
            &:hover button {
                color: white;
                border-color: $white;
            }
        }
    }
}
/*End Offer */
/*Start Blogs */
.blogs {
    padding-top: $padding;
    .blogs-content {
        padding-top: 3rem;
        @include grid(300px);
        text-align: center;
        .box {
            cursor: pointer;
            .image {
                position: relative;
                img {
                    border-radius: 5px;
                }
                .box-info {
                    position: absolute;
                    bottom: -9px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 230px;
                    font-size: 0.8rem;
                    color: $white;
                    background-color: $black;
                    border-radius: 5px;
                    padding: 0.5rem;
                    span {
                        margin: 0 3px;
                        transition: $transition;
                        cursor: pointer;
                        &:hover {
                            color: $green;
                        }
                        i {
                            color: $green;
                            margin: 0 4px;
                        }
                    }
                }
            }
            .text {
                padding-top: 1.7rem;
                p {
                    margin: 0.3rem 0;
                    font-size: 0.8rem;
                    line-height: $line-height;
                }
                button {
                     margin-top: 5px;
                }
            }
        }
    }
}
/*End Blogs */
/*Start subscribe */
.subscribe {
    margin-top: $padding;
    padding: 3rem 0;
    background-color: $light-bg;
    .subscribe-content {
        padding-top: 2rem;
        width: 500px;
        max-width: 100%;
        p {
            font-size: 0.8rem;
            line-height: $line-height;
            margin-bottom: 20px;
        }
        margin: auto;
        .form-input {
            position: relative;
            input {
                width: 100%;
                border: none;
                outline: none;
                border: 1px solid $black;
                padding: 1rem 0 1rem 0.7rem;
                border-radius: 50px;
                background-color: $white;
            }
            input[type="submit"] {
                width: 100px;
                padding: 0.6rem;
                color: $white;
                background-color: $black;
                cursor: pointer;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
                transition: $transition;
                &:hover {
                    background-color: $white;
                    color: $black;
                }
            }
        }
    }
}
/*End subscribe */
/*Start Companys */
.company {
    padding: 2rem 0;
    .company-content {
        .image {
            width: 150px;
            margin: auto;
           cursor: pointer; 
        }
    }
}
/*End Companys */
/*Start Footer */
.footer {
    padding: 2rem 0;
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 50%);
    }
    .footer-content {
        @include grid(250px);
        gap: 30px;
        color: $white;
        position: relative;
        @include MediaQueries(mobile) {
            @include grid(150px);
            gap: 60px;
        }
        .col {
          > span {
              display: block;
              font: {
                  size: 1rem;
                  weight: 500;
              } ;
                padding-bottom: 1rem;
                transition: $transition;
                cursor: pointer;
                &:hover {
                    color: $green;
                }
            }
            a {
                display: inline-block;
                padding: 0.6rem 0;
                font-size: 0.9rem;
                color: $white;
                transition: $transition;
                &:hover {
                    color: $green;
                }
                @include MediaQueries(small) {
                    font-size: 0.8rem;
                }
            }
            i {
                padding-right: 6px;
                color: $green;
            }
        }
    }
    .copy {
        position: relative;
        padding-top: 2rem;
        text-align: center;
        color: $white;
        @include MediaQueries(small) {
            padding-top: 3rem;
        }
         span {
            color: $green;
        }
        .coded {
            padding-top: 1rem;
            color: $white;
            display: block;
            span {
                font: {
                    size: 1.3rem;
                    weight: 600;
                };
            }
        }
    }
}
/*End Footer */
